<h3>Track Name: <%= @track.name %></h3>
<h3>Content: <%= @track.content %><h3>

<h3>Lessons in this Track: </h3>
  <% @track.lessons.each do |lesson| %>
    <%= link_to lesson.title, lesson_path %><br>
<% end %>

<h4><%= link_to "Edit this Track", edit_track_path(@track) %></h4>
